# 1 -

In [8]:
def Fibonacci (num):
    
    if num in {0,1}:
        return num
    elif num < 0 :
        print ("enter positive num")
        
    else :
        return Fibonacci(num-1) + Fibonacci(num-2)
   
Fibonacci(8)

21

# 2 -

In [7]:
def unique_words_and_count (val):
    val_count = {}
    for i  in val:
        val_count[i] = val.count(i)
    return val_count
unique_words_and_count(["red","blue","black","red","red","black"])

{'red': 3, 'blue': 1, 'black': 2}

# 3-

In [17]:
def find_pairs_of_elements1 (val1,val2):
    lst =[]
    for i in val1:
        num = val2-i
        if num in val1:
            lst.append(tuple([i]+[num]))
    return lst      
find_pairs_of_elements1([1,2,3,4,5,30,28,31],30)

[(2, 28), (28, 2)]

In [44]:
def find_pairs_of_elements2 (val1,val2):
    lst =[]
    for i in val1:
        for j in  val1:
            if i + j == val2:
                lst.append(tuple([i]+[j]))
    return lst      
find_pairs_of_elements2([1,2,3,4,5,30,28,31],32)

[(1, 31), (2, 30), (4, 28), (30, 2), (28, 4), (31, 1)]

# 4-

In [88]:
def two_numbers_whose_product_is_maximum (val1):
    max_1 = 0
    max_2 = 0
   
    for i in range(len(val1)):
        for j in  range(i+1,len(val1)):
            if   val1[i] * val1[j] > max_1 * max_2 :
               
                max_1 = val1[i]
                max_2 = val1[j]
    return(max_1,max_2)      
two_numbers_whose_product_is_maximum([1,2,50,3,4,5,30,28,31])

(50, 31)

# 5-

In [2]:
def prime_or_not (num):
    if num == 1 :
        print (num , ": this number i not prime ")
    elif num >1:
        for i in range(2,num):
            if num%i==0:
                print (num , ": this number is not prime ")
                break
            else :
                print (num , ": this number is prime ")
numm=int(input("enter the number :"))
prime_or_not(numm)

enter the number :3
3 : this number is prime

# 6-

In [4]:
def even (val):
    lst = []
    for i in val:
        if i % 2 == 0:
            lst.append(i)
    print ("the even numbers is")
    return lst
even([1,2,3,4,5,6,7,8,9])

the even numbers is

[2, 4, 6, 8]

# 7-

In [20]:
def rever (val):
    lst = val.split()
    print (" ".join(lst[::-1]))
rever("hello world")

world hello

In [21]:
def reverse(str):
  # split the string into list of words
    words = str.split(' ')
    rev_str =[] 
    for word in words: 
        rev_str.insert(0, word)
    print(" ".join(rev_str)) 

reverse("I work at Educative");

Educative at work I

# 8-

In [38]:
num = input('Enter any number : ')
def pli(num):    
    if int(num) < 9:
        print ("it's not a valid number")
    elif num == num[::-1]:
        print('True')
    else:
        print('False')
pli(num)

Enter any number : 1234
False

# 9-

In [ ]:
num = input('Enter any word : ')
def plistr(num):    
    if num < 9:
        print ("it's not a valid number")
    elif num == num[::-1]:
        print('True')
    else:
        print('False')
plistr(num)

# 10-

In [47]:
def printValues():
    l = []
    for i in range(1,30):
        l.append(i**2)
    print(l)

printValues()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]

# 11-

In [2]:
import itertools
list(itertools.permutations([1, 2, 3]))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]